@font-face {
  font-family: "OldEnglish";
  src: local("OldEnglish"), url(./assets/SandsGreyhoodSeven-D4W0.otf);
}

@font-face {
  font-family: "JosefinSans";
  src: local("JosefinSans"), url(./assets/JosefinSans-VariableFont_wght.ttf);
}

:root {
  font-family: "JosefinSans";
}

body {
  margin: 0;
  font-family: "JosefinSans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "OldEnglish"
}

.opening-font {
  font-family: "OldEnglish";
}

.section{
  font-family: "JosefinSans"
}

.imageSize {
  height: 15vmin;
  
}

.visibilityHiddenSibling {
  opacity: 0.6;
  transition: opacity .5s;
}

.visibilityHiddenSibling:hover {
  opacity: 1;
}

.visibilityHiddenSibling:hover ~ .imageSize {
  opacity: 1;
}

.visibilityHidden {
  opacity: 0;
  transition: opacity 1.2s;
}

.visibilityHiddenSibling:hover ~ .visibilityHidden {
  opacity: 1;
}

.badgeSize {
  height: 30px;
  transform: rotate(0deg);
  transition: all 1s;
  opacity: 0.6;
}

.visibilityHiddenSibling:hover ~ .divider .badgeSize  {
  transform: rotate(90deg);
  transition: all 1.2s;
  opacity: 1;
}

a {
  text-decoration: none;
}