@font-face {
  font-family: "OldEnglish";
  src: local("OldEnglish"), url(./assets/SandsGreyhoodSeven-D4W0.otf);
}

@font-face {
  font-family: "JosefinSans";
  src: local("JosefinSans"), url(./assets/JosefinSans-VariableFont_wght.ttf);
}

:root {
  font-family: "JosefinSans";
}

body {
  margin: 0;
  font-family: "JosefinSans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "OldEnglish"
}

.opening-font {
  font-family: "OldEnglish";
}

.section{
  font-family: "JosefinSans"
}

.resized {
  width: 50%;
  height: auto
}